doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pug Template Example
    // build:css styles/style.min.css
    link(rel="stylesheet", href="css/style.css")
    // /build
  body
    header
      h1 Pug Template Example
    main
      p This is a simple Pug template example.
      p You can use Pug to create dynamic HTML templates easily.
      p For more information, visit the 
        a(href="https://pugjs.org") Pug documentation.
      p This template is designed to be simple and easy to understand.
      p You can modify it to suit your needs. 1111
    footer
      p © 2025 Your Company 
    // build:js scripts/main.min.js
    script(src="scripts/script.js")
    // /build