//- Завдання 2
//- Створити стандартну стартову розмітку html-документа, використовуючи Pug.
doctype html
html
    body
        h1 Test
        p.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ea dolores accusantium est odio assumenda provident aut animi minima ipsa fuga commodi vero, molestiae rerum?
        p Text
        
        //- Завдання 3
        //- Створити тег <h2 class="heading-1 color-primary">THANK YOU!</h2>.
        h2.heading-1.color-primary THANK YOU!

        //- Завдання 4
        //- Створити тег та використати атрибути <a href="https://example.com/">Another link</a>.
        a(href="https://example.com/") Another link