//-
    Завдання 2
    На основі вивченого матеріалу створити свої коментарі різних типів – блокові та звичайні
// Цей коментар будемо бачити у Pug та HTML
//- Цей коментар будемо бачити тільки у Pug
//
    Груповий (блоковий) коментар
    Тут якийсь для Pug та HTML
//-
    Груповий (блоковий) коментар
    Тут якийсь тільки для Pug

//-
    Завдання 3
    Відтворити даний фрагмент HTML-розмітки, використовуючи небуферизований код:
    <li>Uno</li>
    <li>Dos</li>
    <li>Tres</li>
    <li>Cuatro</li>
    <li>Cinco</li>
    <li>Seis</li>
p Завдання 3
ul
    li Uno
    li Dos
    li Tres
    li Cuatro
    li Cinco
    li Seis

//-
    Завдання 4
    Оголосіть декілька змінних. До прикладу:
    - var weight = 88
    Після оголошення використайте їх в шаблоні. До прикладу:
    p you weight is #{weight}
p Завдання 4
-
    var weight = 102;
    var height = 192;
- var name = 'Oleh';
p You name is #{name}. You weight is #{weight} kg. You height is #{height} sm.