$bodyBackground: #fff;
$decorationLine: #f9f9f9;
$clientBlockBackground: #3f9ab7;

// ==colors===
$mainColor: #000;
$articleColor: #4f4f4f;
$secondaryColor: #f2994a;
$clientColor: #fff;

// === path ===
$spritePath: "../sprites/sprite.png";

// === fonts ===
$roboto: "Roboto", sans-serif;
$nunito: "Nunito Sans", sans-serif;
